<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coverFormat</key>
	<array>
		<string>title</string>
		<string> - cover</string>
	</array>
	<key>predefinedRenameFormats</key>
	<array>
		<array>
			<string>track</string>
			<string> </string>
			<string>title</string>
		</array>
		<array>
			<string>track</string>
			<string> - </string>
			<string>title</string>
		</array>
		<array>
			<string>disc</string>
			<string>-</string>
			<string>track</string>
			<string> </string>
			<string>title</string>
		</array>
		<array>
			<string>track</string>
			<string> - </string>
			<string>title</string>
			<string> - </string>
			<string>Artist</string>
		</array>
		<array>
			<string>track</string>
			<string> - </string>
			<string>title</string>
			<string> - </string>
			<string>album</string>
		</array>
		<array>
			<string>artist</string>
			<string> - </string>
			<string>track</string>
			<string> </string>
			<string>title</string>
		</array>
	</array>
	<key>predefinedRenameFormatsTitles</key>
	<array>
		<string>01 Title</string>
		<string>01 - Title</string>
		<string>1-01 Title</string>
		<string>01 - Title - Artist</string>
		<string>01 - Title - Album</string>
		<string>Artist - 01 Title</string>
	</array>
	<key>startUrl</key>
	<string>~/Music/</string>
	<key>writeDraggedImageAsFile</key>
	<true/>
</dict>
</plist>
