/* COLOR CODING: TITLES */
a.album-game         { color: #CEFFFF !important; }
a.album-anime       { color: yellowgreen !important; }
a.album-doujin     { color: orange !important; }
a.album-works       { color: #00BFFF !important; }
a.album-bootleg   { color: tomato !important; }
a.album-bonus       { color: yellow !important; }
a.album-drama       { color: silver !important; }
a.album-print       { color: white !important; }
a.album-demo         { color: violet !important; }
a.album-cancel     { color: seagreen !important; }
a.album-inactive { text-decoration: line-through !important; }

span.album-game       { }
span.album-anime     { }
span.album-doujin   { }
span.album-works     { }
span.album-bootleg { }
span.album-bonus     { }
span.album-drama     { }
span.album-print     { }
span.album-demo       { }
span.album-cancel   { }